//--- HEADER --- //
.header {
    height: 70vh;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__left {
        max-width: 48rem;
        width: 50%;
    }

    &__right {
        width: 50%;
    }

    &-text {
        margin-bottom: 1.6rem;
    }

    &-image {
        width: 100%;
    }
    &-cta {
        margin-top: 4.8rem;
    }
}
