//--- HEADER --- //
.header {
    height: 70vh;
}

.hero {
    &__left {
        max-width: 48rem;
        width: 50%;
    }

    &__right {
        width: 50%;
    }

    &-text {
        margin-bottom: 1.6rem;
    }

    &-image {
        width: 100%;
    }
    &-cta {
        margin-top: 4.8rem;
    }
}

//--- MAIN CONTENT --- //

.explore {
    &__left {
        max-width: 48rem;
        width: 50%;
    }

    &__right {
        width: 50%;
    }

    &-image {
        width: 100%;
    }
}
