:root {
    --font-family-1: "Unkempt", cursive;
    --font-family-2: "Nunito Sans", sans-serif;
    --primary-color: #64fcd9;
    --secondary-color: #ffb61d;
    --black-color: #121212;
    --gray-color: #e0e0e0;
}

//
// Some Useful color Vars via http://clrs.cc/
//

// Cool
$aqua: #7fdbff;
$blue: #0074d9;
$navy: #001f3f;
$olive: #3d9970;
$lime: #01ff70;

// Warm
$yellow: #ffdc00;
$orange: #ff851b;
$red: #ff4136;
$fuchsia: #f012be;
$maroon: #85144b;

// Gray Scale
$white: #fff;
$silver: #ddd;
$gray: #aaa;
$black: #111;

//
// Project Variables
//
