html {
	font-size: 62.5%;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}

body {
	font-family: $font-primary;
	background: $color-background;
	line-height: 1.6;
	font-size: 1.4rem;
	color: $white;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}

section {
	display: -webkit-box;
}

.container {
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: [full-start] repeat(8, [col-start] minmax(min-content, 1fr) [col-end]) [full-end];
	grid-template-rows: 7rem 60vh 30vh;
	gap: 2rem;
}

.logo {
	width: 4.5rem;
	height: 4.5rem;
}
