.heading {
    &-1 {
        font-family: $font-display;
        font-size: 19.9rem;
        line-height: 1.1;
        letter-spacing: 1rem;
        text-transform: uppercase;
    }
    &-2 {
    }
    &-3 {
        text-transform: uppercase;
        font-size: 2rem;
        letter-spacing: 0.05rem;
        font-weight: 500;
        color: $color-text-light;
    }

    &-sub {
        font-family: $font-primary;
        font-size: 2rem;
        letter-spacing: 0.05rem;
        font-weight: 300;
        color: $gray;
        display: block;
    }

    &--rotate {
        transform: rotate(-90deg) translateX(3rem);
    }
}
