.nav {
    _background-color: $red;
    grid-column: full-start / full-end;
    grid-row: 1 / 2;
    align-self: flex-end;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
