html {
	box-sizing: border-box;
	font-size: 62.5%; //1rem = 10px
}

*,
*:before,
*:after {
	box-sizing: inherit;
	padding: 0;
	margin: 0;
}

body {
	font-size: 1.4rem;
	line-height: 1.6;
	color: black;
	font-family: var(--font-family-2);
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}

.wrapper {
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
}

section {
	display: -webkit-box;
}
