/*
  ----- TYPOGRAPHY ----- 
*/
.heading {
    &-1 {
        font-size: 4.8rem;
        line-height: 5.8rem;
        font-size: 700;

        @include responsive(tab-land) {
            font-size: 3.6rem;
            line-height: 4.9rem;
        }
        @include responsive(phone) {
            font-size: 3.6rem;
            line-height: 4.9rem;
        }
    }

    &-2 {
        font-size: 3.6rem;
        line-height: 4.9rem;
        font-size: 700;

        @include responsive(tab-land) {
            font-size: 3rem;
            line-height: 4rem;
        }
        @include responsive(phone) {
            font-size: 2.8rem;
            line-height: 3.4rem;
        }
    }

    &-3 {
        font-size: 2.6rem;
        line-height: 3.5rem;
        font-size: 700;

        @include responsive(phone) {
            font-size: 2rem;
            line-height: 2.4rem;
        }
    }
}

.text {
    font-size: 2rem;
    line-height: 2.7rem;

    @include responsive(tab-land) {
        font-size: 1.7rem;
        line-height: 2.4rem;
    }
    @include responsive(phone) {
        font-size: 1.7rem;
        line-height: 2.4rem;
    }
}
