/*
  ----- NAVIGATION ----- 
*/
.nav {
    width: 100%;
    height: 12rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    _background-color: $aqua;
    &__brand {
        position: relative;
        h1 {
            font-family: var(--font-family-1);
            font-size: 4.8rem;
            text-transform: lowercase;
            font-weight: bold;
            _color: var(--black-color);
            line-height: 5.7rem;
            @include responsive(tab) {
                font-size: 3.6rem;
                line-height: 4.9rem;
            }
        }

        span {
            display: block;
            position: absolute;
            top: 50%;
            left: 10%;
            transform: translate(-50%, -50%);
            width: 5.3rem;
            height: 5.3rem;
            border-radius: 100%;
            background-color: var(--primary-color);
            z-index: -1;
        }
    }

    &__list {
        display: flex;
        align-items: center;
        list-style: none;
    }
    &__item {
        font-size: 1.6rem;

        &:not(last-type) {
            margin-right: 3.2rem;
        }

        @include responsive(phone) {
            display: none;
            &:last-of-type {
                display: flex;
            }
        }

        &--line {
            width: 0.2rem;
            height: 1.6rem;
            background-color: var(--gray-color);
        }
    }
    &__link {
        font-size: inherit;
    }
}

.fas {
    cursor: pointer;
    font-size: 1.6rem;
    &:hover {
        color: var(--secondary-color);
    }
}
