//
// Some Useful color Vars via http://clrs.cc/
//

// COOL COLORS
$aqua: #7fdbff;
$blue: #0074d9;
$navy: #001f3f;
$olive: #3d9970;
$lime: #01ff70;

// WARM COLORS
$yellow: #ffdc00;
$orange: #ff851b;
$red: #ff4136;
$fuchsia: #f012be;
$maroon: #85144b;

// GRAY SCALE
$white: #fff;
$silver: #ddd;
$gray: #aaa;
$black: #111;

//
// PROJECT VARIABLES
//

// FONT VARIABLES
$font-display: "Bebas Neue", cursive;
$font-primary: "Raleway", sans-serif;

// COLOR VARIABLES
$color-button: #3726fb;
$color-red: #f12d2d;

$color-background: #0d1218;
$color-text-light: #f9f7f4;
$color-text-dark: #dadada;
$color-text-button: #e3e3e3;
